{% extends 'layout.html' %}

{% block content %}

<h1>Hello my friends!!! Thank you, teacher</h1>
<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales, erat sed fringilla accumsan, lectus ante
    semper felis, sed malesuada lorem nibh vel velit. Praesent aliquam, libero ut accumsan pharetra, enim velit
    consequat purus, ac consequat orci neque a augue. Suspendisse bibendum maximus felis, non vehicula libero
    vehicula ut. Curabitur tincidunt et lorem ac consequat. Pellentesque ac suscipit sem. Pellentesque eros nisi,
    auctor eu magna ac, rhoncus mattis ex. Phasellus malesuada pretium mauris in gravida. Duis sit amet felis
    varius, imperdiet lorem eu, placerat odio. Donec facilisis sed ante a ornare. Mauris id aliquet augue. Aliquam
    nisi urna, placerat at mauris at, placerat dignissim quam. Cras ac interdum tellus. Donec id iaculis velit.
    Maecenas ac odio ac magna facilisis mattis.</p>
<p>

    In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla nec tellus
    ante. Aliquam erat volutpat. Pellentesque tristique nec ante ut bibendum. Fusce in feugiat massa, ut tempor
    justo. Pellentesque pretium volutpat massa et convallis. Maecenas ac turpis malesuada, interdum lorem id,
    aliquam augue. Pellentesque sagittis dolor mi, tempus dapibus purus bibendum a. Sed leo arcu, euismod non
    condimentum in, vulputate a lacus. Praesent dignissim tortor sit amet augue luctus, et consectetur velit
    commodo. Morbi vehicula eros ut efficitur luctus. Praesent ante purus, semper at auctor nec, vehicula vel eros.
    Aenean eleifend auctor nunc sed luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
{% endblock %}